<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign-up</title>
</head>
<body>
<p>회원가입 페이지입니다.</p>
<div>
    <form action="http://localhost:8080/sign-up" method="POST">
        <label for="username">username:</label>
        <input type="text" id="username", name="username">
        <label for="userId">userId:</label>
        <input type="text" id="userId", name="userId">
        <label for="password">password:</label>
        <input type="text" id="password", name="password">
        <label for="submit">submit</label>
        <input type="submit" id="submit">
    </form>
</div>
</body>
</html>